.myGal
{
  margin-top: 60px;
  margin-bottom: 50px;
  text-align: center;
  
}

.delBtn
{
  margin-top: 50px;
}

.addBtn
{

  background-color: rgb(5, 88, 5);
}

.addDelBtns
{
  display: flex;
  margin: auto;
  text-align: center;
}