.myGal
{
  margin: auto;
  text-align: center;
  
}

.searchCategory
{
    margin: auto;
    text-align: center;
    margin-top: 50px;    
}
.searchCategory input
{
    font-size:11pt;
    height:20px;
}