body
{
    background-color: gray;
}
.imgsContainer
{
  
    text-align: center;
    margin: auto;
    width: 100%;
    margin-top: 5px;
}
.imgs img
{
    width: 20%;
    margin-left: 5px;
    background-color: black;
    cursor: pointer;
    
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0,0%,0%,0.1);
 
    
}