body {
    background-color: gray;
  }
  
  .sunImgsContainer {
    text-align: center;
    margin: auto;
    width: 100%;
    margin-top: 5px;
  }
  
  .sunImgs img {
    width: calc(25% - 10px); /* Adjust the width as needed */
    margin: 5px; /* Adjust the margin as needed */
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  }
  
  .sunImgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Center the images and create space between them */
  }
  
  #item {
    margin: 5px;
    cursor: pointer;
  }
  